@font-face {
    font-family: 'orbitron light';
    src: url(orbitronlight.ttf);
}
body, html {
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block{
    display: flex;
    justify-content: center;
    align-items: center;
}

.block_border-radius_15px{
    border-radius: 15px;
}

.block_size_800x350{
    width: 800px;
    height: 350px;
}

.block_color_tan{
    background-color:#d2b48c;
}

.watch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.watch_border-radius_15px{
    border-radius: 15px;
}

.watch_background-color_jet{
    background-color: #333333;
}

.watch_size_750x300{
    width: 750px;
    height: 300px;
}

.watch_font_orbitron{
    font-family: 'orbitron light', sans-serif;
}

.watch_font-color_carmine{
    color: #e74c3c;
}

.watch_font-size_130px{
    font-size: 130px;
}

.time{
    display: flex;
}

.watch__date{
    position: relative;
    top:35px;
}

.watch__date_font_times{
    font-family: 'Times New Roman', Times, serif;
}

.watch__date_font-size_25px{
    font-size: 25px;
    text-transform: uppercase;
}

.watch__date_font-color_white{
    color: #ffffffe8;
}